<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non
      voluptate similique optio qui iure sequi illum, nihil voluptatibus
      perferendis aperiam consequatur officiis soluta ducimus sed aut laboriosam
      expedita harum!
    </p>

    <ul>
      <li>
        <a href="{{ url_for('about') }}">about page</a>
      </li>
    </ul>
  </body>
</html>
